<div class="form-horizontal settings">

    <h4>Send email test for last 30 days <button {{action 'previewEmail' target=controllers.adminStatisticsDigestEmailSetting}}>Send</button></h4>

    <hr>

    <h4>Set the sendout time of the email report</h4>

    <label for="day">
      Every {{view "select" content=controllers.adminStatisticsDigestEmailSetting.days value=controllers.adminStatisticsDigestEmailSetting.selectedDay}}th of each month
    </label>

    <label for="time">
        At
      {{view "select" content=controllers.adminStatisticsDigestEmailSetting.hours value=controllers.adminStatisticsDigestEmailSetting.selectedHour}}
        :
      {{view "select" content=controllers.adminStatisticsDigestEmailSetting.minutes value=controllers.adminStatisticsDigestEmailSetting.selectedMin}}
    </label>
    <br>
    <button {{action 'setTimeout' target=controllers.adminStatisticsDigestEmailSetting}}>Save</button>

    <br>
    <br>
    <br>

    <div class="content-list">
        <h4>Select which categories to include in the Active Responders report</h4>

        <ul>
          {{#each category in controllers.adminStatisticsDigestCategories.arrangedContent itemController='adminStatisticsDigestCategory'}}
              <li>
                  <a href="#" >
                      <label for="{{category.model.name}}">
                        {{input type="checkbox" checked=category.model.selected}}
                        {{category.model.name}}
                      </label>
                  </a>
              </li>
          {{/each}}
        </ul>

        <button style="margin:10px" {{action 'updateCategories' target=controllers.adminStatisticsDigestCategories}}>Save</button>
    </div>

</div>
