<div class="content-list">
    <h4>Select which categories to include in the Active Responders report</h4>

    <ul>
        {{#each categories as |category|}}
            <li>
                <a href="#" {{action "toggle" category.id on="click"}}>
                    <label for="{{category.name}}">
                        {{#if category.selected}}
                            <input type="checkbox" checked {{action "toggle" category.id on="click" bubbles=false}}>
                        {{else}}
                            <input type="checkbox" {{action "toggle" category.id on="click" bubbles=false}}>
                        {{/if}}
                        {{category.name}}
                    </label>
                </a>
            </li>
        {{/each}}
    </ul>

    <button style="margin:10px" {{action 'updateCategories'}}>Save</button>
</div>
