<h4>Set the sendout time of the email report</h4>

<form action="#" class="sendout-time">
    <label for="day">
        On day
        <select id="select-day" {{action "updateTimeOut" "day" on="change"}}>
            {{#each days as |dayOption|}}
                {{#if (admin-statistics-digest/eq selectedDay dayOption)}}
                    <option value="{{dayOption}}" selected>{{dayOption}}</option>
                {{else}}
                    <option value="{{dayOption}}" >{{dayOption}}</option>
                {{/if}}
            {{/each}}
        </select>
        of each month
    </label>

    <label for="time">
        At
        <select id="select-hour" {{action "updateTimeOut" "hour" on="change"}}>
            {{#each hours as |hourOption|}}
                {{#if (admin-statistics-digest/eq selectedHour hourOption)}}
                    <option value="{{hourOption}}" selected>{{hourOption}}</option>
                {{else}}
                    <option value="{{hourOption}}" >{{hourOption}}</option>
                {{/if}}
            {{/each}}
        </select>
        :
        <select id="select-min" {{action "updateTimeOut" "min" on="change"}}>
            {{#each minutes as |minOption|}}
                {{#if (admin-statistics-digest/eq selectedMin minOption)}}
                    <option value="{{minOption}}" selected>{{minOption}}</option>
                {{else}}
                    <option value="{{minOption}}" >{{minOption}}</option>
                {{/if}}
            {{/each}}
        </select>
    </label>

    <button {{action 'submit'}}>Save</button>
</form>
